.form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.form-container input,
.form-container button {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
}

.result-container {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.content {
    max-width: 600px;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
}

.more-text {
    display: none;
    /* Initially hidden */
}

.read-more-button {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}

table {
    width: 70%;
    margin: 20px auto;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

button {
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
}

.form-container {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: none;
    /* Initially hidden */
}

.visible {
    display: block;
}